fastapi
uvicorn[standard]
sqlalchemy
opencv-python
deepface
tf-keras
speechbrain
mediapipe>=1.0.0
librosa
scikit-learn
python-multipart
c3d
requests
huggingface_hub
numpy
pydantic
soundfile
python-dotenv
