@import "tailwindcss";

@theme {
  --color-brand-50: #eef4ff;
  --color-brand-100: #dfe9ff;
  --color-brand-200: #c4d4ff;
  --color-brand-300: #9db4ff;
  --color-brand-400: #7c93ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #362f9e;
  --color-brand-900: #2c2a7a;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
